<%- include ('./partials/_header.ejs') %>
<div class="jumbotron jumbotron-fluid mt-0 p-2 pb-5 text-center">
	<h1 class="display-4">Chat App</h1>
	<div id="about" class="container mb-3">
		<hr class="my-3" />
		<p class="lead">A basic Chat App using NodeJS</p>
	</div>
	<div
		class="container flex-column d-flex align-items-center justify-content-center"
	>
		<% if(error != ''){ %>
		<div class="text-center alert alert-danger" role="alert">
			<strong><%= error %></strong>
		</div>
		<% } %>
		<form id="index-form" action="/chat">
			<div class="form-group">
				<label for="name">Display Name</label>
				<input
					required
					type="text"
					placeholder="Name "
					name="username"
					id="displayName"
					class="form-control"
				/>
			</div>
			<div class="form-group">
				<label for="name">Room Name</label>
				<input
					required
					type="text"
					placeholder="Room"
					name="room"
					id="roomName"
					class="form-control"
				/>
			</div>
			<button type="submit" class="btn btn-success" style="width: 5rem;">
				Join
			</button>
		</form>
	</div>
</div>
<%- include ('./partials/_footer.ejs') %>
