::selection{
    color: rgb(76, 0, 255);
    background-color: aliceblue;
}
body{
    overflow-x: hidden!important;
}
.chat-container{
    height: 28rem;
    position: relative;
    overflow-y: scroll;
}
.msg-container{
    max-height: 22rem;
    position: relative;
    overflow-y: scroll;
}
.msg{
    width: fit-content;
    max-width: 80%;
    margin: 5px 0;
    padding: 3px 6px;
    border-radius: 10px;
}
.msg p{
    margin: 0!important;
}
.msg p .time{
    font-size: 70%!important;
    font-weight: 500!important;
}
::-webkit-scrollbar{
    width: 0;
}
.form-inline{
    position: absolute;
    width: 100%;
    bottom: 5px;
}
.form-inline .form-group{
    margin: 0!important;
    padding: 0!important;
}
.list-group{
    position: relative;
    overflow-y: scroll;
    height: 15rem;
    border: 2px solid darkgray;
}
.form-input input{
    margin-left: 5px;
}
.form-btn button{
    margin-left: 5px;
}
.main{
    padding: 10px 20px;
}
.roomUsers h1{
    font-weight: 700;
}
.roomUsers h1 #roomName{
    text-transform: capitalize;
}
@media only screen and (max-width: 600px){
    .main{
        padding : 20px;
        margin-bottom: 10px;
    }
    .form-input input{
        margin: 0!important;
    }
    .form-inline{
        position: absolute;
        width: 100%;
        bottom: 2px!important;
        padding: 0 5px;
    }
    .form-inline .form-group:first-child{
        width: 70%;
    }
    .form-inline .form-group:last-child{
        width: 30%;
    }
}